# ============================================
# Static Malware Analysis Automation Framework
# ============================================

# --- Extraction / Archive handling ---
libarchive-c
multivolumefile
patool
py7zr
pyzipper
pyzstd
rarfile

# --- Hashing / Utilities ---
binary2strings
email-validator
idna
psutil
pydantic
python-multipart
requests
rich
tqdm

# --- Malware static analysis core ---
flare-floss
lief
pefile
python-magic
r2pipe
ssdeep
yara-python

# --- Web API / Framework ---
fastapi
uvicorn

# --- VirusTotal API ---
vt-py
